#overrideGuts{
    min-height: 100%;
    width: 100%;
    background-color: white;
}
#overrideGuts h1{
    margin-top: 0;
    margin-left: 5%;
    display: block;
}
.dashes{
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    position: absolute;
    margin-top: -15px;
}
.dialog{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    text-align: left;
}
.dialog p{
    width: 60%;
    margin-right: 3%;
}
.question{
    margin-left: 3%;
}
#header{
    background-color: skyblue;
}
#header h1{
    margin-left: 5%;
}
.pixelMoji{
    height: 160px;
    width: auto;
    margin-bottom: 5%;
    margin-right: 10%;
}
.topMargin{
    margin-top: 10%;
    margin-left: 10%;
}