#bigOl{
    display: block;
    height: 100%;
    width: 100%;
    background-color: white;
    margin: 0;
    border: none;
}
#titleImage{
    height: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#instructions{
    height: 50%;
    display: block;
}
#startButton{
    display: block;
    cursor: url('./resources/pointer-clickable.png'), auto;
    margin-left: auto;
    margin-right: auto;
    height: 10%;
}